body{
    background-color:blueviolet;
}
.login-form{
    width: 30%;
    background-color: white;
    margin-left: 35%;
    margin-top: 10%;
}
.login-form h3{
    text-align: center;
}
.login-form .input-box{
width: 90%;
padding: 5px ;
margin-left: 2%;
}
.login-form .label{
    margin-left: 2%;
}
.login-form .login-btn{
    width: 96%;
    padding: 10px;
    margin-left: 2%;
    margin-top: 2%;
    background-image: linear-gradient(to right,red,yellow);
    border: none;
     border-radius: 20px;
     color: white;
     font-size: 20 px;
}
.login-form .link1{
margin: 2%;
}